<app-nav></app-nav>
<div class="container-xl">
    <div class="table-responsive ">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Transaction <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <button class="btn btn-outline-primary" (click)="openAddTransaction(content)">Add
                            Transaction</button>
                       
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">transactionId</th>
                        <th>userId</th>
                        <th>accountId</th>
                        <th>amount</th>
                        <th>creditType</th>
                        <th>transactionStatus</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let input of this.service.transcations;let i=index">
                        <td colspan="2">
                            {{input.transactionId}}
                        </td>
                        <td>{{input.userId}}</td>
                        <td>{{input.accountId}}</td>
                        <td>{{input.amount}}</td>
                        <td>{{input.creditType}}</td>
                        <td>{{input.transactionStatus}}</td>
                        <td colspan="2">
                            <a (click)="ModifyTransaction(input,'completed')" class="delete" title="Approved"
                            data-toggle="tooltip" style="margin-left: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                              </svg>
                        </a>
                            <a (click)="ModifyTransaction(input,'reversed')" class="delete" title="Delete"
                                data-toggle="tooltip" style="margin-left: 15px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
            <a href="http://localhost:4200/Account" style="margin-top: 25px; margin-left: 540px;" class="btn btn-outline-primary">Back To Accounts</a>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Make New transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-6">
                <label for="exampleInputEmail1">Amount</label>
                <input type="number" class="form-control" [(ngModel)]="this.newamount" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group col-6">
                <label for="">Select Transaction Type</label>
                <select class="form-control" [(ngModel)]="this.newcreditType" name="this.newcreditType">
                    <option value="Credit" (click)="SelectTypeDFO('Credit')">Credit</option>
                    <option value="Depit" (click)="SelectTypeDFO('Depit')">Depit</option>
                </select>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success" (click)="AddTransaction()">Save Transaction </button>
        <button type="submit" class="btn btn-outline-primary" (click)="AddTransactionExit()">Save Transaction & Exit</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>